@import '../globals.css';

@layer components {
  .header {
    @apply fixed;
    @apply min-w-full h-20 px-6 py-2;
    @apply flex items-center;

    .logo-container {
      @apply w-full py-2 border border-black rounded-full;
      @apply flex justify-center items-center flex-1;
      @apply shadow shadow-ring;

      .logo {
        @apply text-xl font-light;
      }
    }

    .profile-nav {
      @apply flex gap-x-4 items-center flex-1 justify-end;
      @apply h-1/2;

      .profile-controls {
        @apply flex font-medium gap-x-3;
      }
    }
  }
}
