@import '../globals.css';

@layer components {
  .hero {
    @apply bg-foreground text-background;
    @apply min-h-screen w-full -translate-y-4;
    @apply flex flex-col justify-center items-center gap-y-8;

    .main-paragraph {
      @apply text-3xl;
      @apply flex flex-col items-center;
      @apply leading-10;

      .your {
        @apply text-5xl font-semibold;
      }

      span.gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r;
        @apply from-accent dark:via-gray-100 via-gray-400 to-accent;
      }
    }

    .operation-buttons {
      @apply w-1/3;
      @apply flex justify-around items-center;
    }
  }

  button {
    @apply w-32 h-12 rounded-3xl;
    @apply flex justify-center items-center;
    @apply font-semibold text-xl;
  }

  button.primary {
    @apply bg-accent text-secondary;
  }

  button.secondary {
    @apply bg-secondary text-accent;
  }
}
